html{background-color: crimson; color: cyan;}

#div1{text-align: left;}

#div2{text-align: right;}

#div3{text-align: right;}

#div4{text-align: left;}

#div5{text-align: center;}

#div6{text-align: right;}

#div7{text-align: center;}

#div8{text-align: left;}

#div9{text-align: center;}

