html{background-color: crimson; color: cyan;}

#div1{text-align: left; color: yellowgreen;}

#div2{text-align: right; color: fuchsia;}

#div3{text-align: right; color: lightskyblue;}

#div4{text-align: left; color: rebeccapurple;}

#div5{text-align: center; color: darkgoldenrod;}

#div6{text-align: right; color: sienna;}

#div7{text-align: center; color: ivory;}

#div8{text-align: left; color: blueviolet;}

#div9{text-align: center; color: lawngreen;}

