html{text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color: burlywood;}

#div1{line-height: 50px;}

input{width: 250px;}

#input1{width: 300px;}

#input2{width: 100px;}

#input3{width: 325px;}

button{line-height: 10px;}