html{text-align: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; background-color: burlywood;}

#p1{font-size: small;}

input{width: 250px;}

#input1{width: 300px;}

#input2{width: 100px;}

#input3{width: 375px;}

button{line-height: 15px;}